@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+BE+VLG:wght@100..400&display=swap');

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #cccccc;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

body {
  @apply bg-slate-300 font-serif
}
.navbar {
  @apply relative m-4 ml-8 mr-0 mt-6 w-56 rounded-b-lg rounded-t-lg h-[90%] pb-16 top-0 left-0 flex flex-col bg-slate-100 text-3xl text-right shadow-xl transition-all duration-1000
}

.navitem {
  @apply p-4 text-lg hover:bg-slate-200 hover:cursor-pointer 
}

.main {
  @apply relative grow ml-4 ml-2 mt-2 relative
}

.bgElement {
  @apply w-32 h-32 rounded-full absolute blur origin-top-right opacity-50
}

.profile-picture {
  @apply flex flex-row h-64 mb-1 relative border-b-2 bg-profile bg-center bg-cover transition-all duration-1000
}

.App {
  @apply max-w-full overflow-x-hidden relative
}

.profile-link {
  @apply text-cyan-800 underline underline-offset-4 hover:underline-offset-8 p-2 transition-all duration-300
}

.polaroid-text {
  font-family: "Playwrite BE VLG", cursive;
  font-size: small;
}